
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Teko:wght@300&display=swap');

:root {
	/* --desktop-width: 700px; */
  }


html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
	display: block;
}

main {
	display: grid;
	grid-template-columns: 1fr;
	width: 70em;
	margin: auto;
}

@media only screen and (min-width: 700px) {
	main {
		grid-template-columns: 1fr 1fr;
	}
  }

/* section not  */
section:not(.contact):not(.education) {
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 1em;
	padding-bottom: 1em;
}


header {
  background-color: #DDDDDD;
  color: #000;
  padding: 1em;
  text-align: left;
}

.heading  {
  font-size: 2.5em;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 0.2em;
  /* set font to be solid */
  font-weight: 800;
  width: 100%;
  border-bottom: 1px solid black;

}

.subheading  {
	  font-size: 1.8em;
  margin-bottom: 0.8em;
  font-weight: 500;
  font-family: 'Open Sans', sans-serif;
}


.picture {
  width: 300px;
  height: 300px;

  margin-bottom: 1em;  
  align-items: center;
  border-bottom: None;
  border-right: 1px solid black;
}

.picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  border: 5px solid #0000001A;
  box-shadow: 0px 0px 10px 0px #0000001A;
}

/* .motto  */
.motto {
	font-size: 1.3em;
	margin-bottom: 0.5em;
	font-weight: 500;
	text-transform: lowercase;
	font-style: italic;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
  }
	
  /* insert content before .motto  */
  .motto::before {
	content: "";
	font-size: 0.9em;
	margin-right: 0.2em;
	font-weight: 800;
  }

.contact {  
  
  font-weight: 400;
    
}

.contact ul li{
  list-style-type: none;

}

/* contact ul li item to large square */
.contact ul li::before {
  content: "*";
  margin-right: 0.5em;
}

/* contact ul li first span */
.contact ul li span:first-child {
  display: inline-block;
  font-weight: 800;
  margin: 0.1em;
  width: 7em;
  max-width: 7em;
  text-transform: uppercase;
}
.contact ul li span:nth-child(2) {
	font-weight: normal;
}
 
.contact ul li span:nth-child(2)::before {
	content: ":";
	margin-right: 0.2em;
}
 




h3 {
	font-size: 1.5em;
margin-bottom: 0.5em;
font-weight: 800;

}

.about h3 {
	font-size: 1.5em;

}

/* .introduction  */
.introduction {
  font-size: 1.4em;
  margin-bottom: 0.5em;
  font-weight: 400;
  line-height: 1.2;
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
  grid-column-start: span 1;
}

@media only screen and (min-width: 700px) {
	.introduction {
		grid-column-start: span 2;
	}
}

.education ul {
	margin-top: 1em;
}

.education ul li {
	list-style-type: none;
	margin-bottom: 0.3em;	
}

/* .education ul li first child  */
.education > ul > li:nth-child(1) > div:nth-child(1) > b {
	display: inline-block;
	font-weight: bold;
}
.education > ul > li:nth-child(2) > div:nth-child(1) > b {
	display: inline-block;
	font-weight: bold;
}

.education > ul > li:nth-child(1) > div:nth-child(2) {
	/* indent 2em */
	margin-left: 2.2em;
}

.education > ul > li:nth-child(2) > div:nth-child(2) {
	/* indent 2em */
	margin-left: 2.2em;
}



.skills h3 {
	font-size: 1.5em;
}


.skills ul li {
	font-size: 0.9em;
	list-style-type: none;
	margin-bottom: 0.3em;
  }
  
  
/* .skills ul li  alternate background color */
.skills ul li:nth-child(odd) {
	  background-color: #f4f4f4;
	  }

/* .skills ul li  alternate background color */
.skills ul li:nth-child(even) {
	background-color: #e4e4e4;
}



  /* skills ul li first span */
  /* score */
  .skills ul li span:first-child {
	display: inline-block;
	font-weight: normal;
	margin: 0.1em;
	width: 5em;
	text-transform: uppercase;
	letter-spacing: 1pt;
  }
  
  .skills ul li span:nth-child(1)::after {
	content: " / 5.0";
	font-weight: 100;
  }

  /* years */
  .skills ul li span:nth-child(2) {
	display: inline-block;
	font-weight: normal;
	margin: 0.1em;
	margin-right: 1.5em;
	width: 3em;
	text-align: right;
	font-family: monospace;
  }

  .skills ul li span:nth-child(2)::after {
	content: " yrs";
	font-weight: 100;
	font-family: sans-serif;
	/* make font subscript */
	vertical-align: sub;
	font-size: 60%;
  }


  /* name */
  .skills ul li span:nth-child(3) {
	display: inline-block;
	font-weight: normal;
	margin: 0.1em;
  }


.experience h3 {
	font-size: 1.5em;
	margin-bottom: 1em;
}

.single_experience {
	font-size: 0.9em;
	list-style-type: none;
	margin-bottom: 2em;
  }

  .single_experience h1 {
	font-size: 20pt;
	margin-bottom: 0.3em;
	font-weight: bold;
	border-bottom: 1px solid #AAAAAA ;
	padding-bottom: 0.2em;
  }

  .single_experience h2 {
	display: inline-block;
	margin-bottom: 0.3em;
	width: 100%;
  }

  .single_experience h2 span:nth-child(1) {
	margin-right: 0.3em;
	font-size: 16pt;
	font-weight: bold;
  }

  .single_experience h2 span:nth-child(2) {
	font-size: 11pt;
	font-weight: normal;
	font-style: italic;
	margin-left: 0.2em;
  }


  .single_experience h3 {
	display: inline-block;
	font-size: 9pt;
	margin-top: 0.2em;
	margin-bottom: 0.3em;
	font-weight: normal;
	text-transform: uppercase;
  }

  .single_experience h3 span:nth-child(1) {
	margin-right: 0.1em;
  }

  .single_experience h3 span:nth-child(2) {
	margin-left: 0.1em;
  }

  .single_experience h3 span:nth-child(2)::before {
	content: " to ";
	text-transform: lowercase;
  }



/* make header a flex */
header {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

/* header 1st child flex */
header > div:nth-child(1) {
	padding-top: 2em;
	align-items: flex-start;
}


/* header 2nd child */
header > div:nth-child(2) {
	margin-left: 1em;
	align-items: flex-start;
	width: 800px;
}

